* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../Images/lightModeBg.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  background-color: #11101063;
  position: absolute;
  width: 100%;
  min-height: 110vh;
  inset: 0;
}

.main {
  text-align: center;
  position: relative;
}

.home-header {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.btnMusic {
  background: transparent;
  border: 2px solid #ffb703;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: 0.3s ease-in;
}

.bgMusic {
  background: #ffb703;
  border-radius: 50%;
  padding: 10px;
  transition: 0.3s ease-out;
}

.pause-btn {
  background: transparent;
  border: 2px solid #ffb703;
  border-radius: 50%;
  padding: 8px 15px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: 0.3s ease-in;
}

.pause-btn:hover {
  background: #ffb703;
  transition: 0.3s ease-out;
}

.main-container {
  background: rgba(255, 255, 255, 0.95);
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.game-title h1 {
  font-size: 70px;
  margin: 5px 0 15px;
  color: #ff4d6d;
  text-shadow:
    2px 2px 0 #fff,
    5px 5px 0 #ffb703,
    8px 8px 15px rgba(0, 0, 0, 0.35);
  animation: jelly 1.5s infinite alternate;
  transition: 0.3s ease-in;
}

/* GRID FIX 4 x 5 */
.game-board {
  display: grid;
  grid-template-columns: repeat(4, 110px);
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
}

.card {
  width: 110px;
  height: 110px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
  user-select: none;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.matched {
  visibility: hidden;
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  border-radius: 18px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  background: white;
  border: 4px solid #87ceeb;
  font-size: 36px;
}

.card-back {
  background: white;
  transform: rotateY(180deg);
  border: 4px solid #98d8c8;
}

.card-back img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.controls {
  margin-top: 15px;
}

.btn {
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ff4d6d;
  color: white;
}

.features {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
}
