* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka One", cursive;
}

.home {
  background-size: cover;
  background-position: center;
  background-image: url(../Images/lightModeBg.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  color: white;
  transition: 0.3s ease-in;
}

.home::before {
  content: "";
  background-color: #11101063;
  position: absolute;
  width: 100%;
  height: 100vh;
  inset: 0;
}

.home-wrapper {
  position: relative;
}

.home-header {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.btnMusic {
  background: transparent;
  border: 2px solid #ffb703;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: 0.3s ease-in;
}

.bgMusic {
  background: #ffb703;
  border-radius: 50%;
  padding: 10px;
  transition: 0.3s ease-out;
}

.darkAndLightMode button {
  background: transparent;
  border: 2px solid #ffb703;
  border-radius: 50%;
  padding: 8px 10px;
  cursor: pointer;
  color: white;
  transition: 0.3s ease-in;
}

.darkAndLightMode img {
  width: 25px;
}

.darkAndLightMode .moon {
  display: none;
  transition: 0.3s ease-in;
}

.home-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home-titleGame h1 {
  font-size: 70px;
  margin: 5px 0 15px;
  color: #ff4d6d;
  text-shadow:
    2px 2px 0 #fff,
    5px 5px 0 #ffb703,
    8px 8px 15px rgba(0, 0, 0, 0.35);
  animation: jelly 1.5s infinite alternate;
  transition: 0.3s ease-in;
}

.home-images img {
  animation: float 3s ease-in-out infinite;
}

.home-inputName input {
  padding: 15px 20px;
  border-radius: 5px;
  border: #c94c00;
  color: #c94c00;
  width: 230px;
  font-size: 15px;
  text-align: center;
  outline: none;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
}

.home-buttonStart button {
  margin-top: 40px;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  background: #ffb703;
  cursor: pointer;
  transition: 0.15s;
  box-shadow: 0 6px #c94c00bd;
  transition: 0.3s ease-in;
}
.home-buttonStart button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px #c94c00bd;
  transition: 0.3s ease-out;
}

@keyframes jelly {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.07);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

/* CSS DARKMODE */
.dark .home {
  background-image: url(../Images/darkModeBg.png);
  transition: 0.3s ease-out;
}

.dark .btnMusic {
  border: 2px solid #ff4d6d;
  transition: 0.3s ease-out;
}

.dark .bgMusic {
  background: #ff4d6d;
  transition: 0.3s ease-out;
}

.dark .darkAndLightMode button {
  background: #282828;
  border: 2px solid #282828;
  transition: 0.3s ease-out;
}
.dark .darkAndLightMode .moon {
  display: block;
  transition: 0.3s ease-out;
}

.dark .darkAndLightMode .sun {
  display: none;
  transition: 0.3s ease-out;
}

.dark .home-titleGame h1 {
  color: #ffb703;
  text-shadow:
    2px 2px 0 #fff,
    5px 5px 0 #ff4d6d,
    8px 8px 15px rgba(0, 0, 0, 0.35);
  transition: 0.3s ease-out;
}

.dark .home-buttonStart button {
  background: #ff4d6d;
  box-shadow: 0 6px #f8032fd9;
  transition: 0.3s ease-out;
}

.dark .home-buttonStart button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px #f8032fd9;
  transition: 0.3s ease-out;
}
